@import './../../node_modules/bootstrap/scss/bootstrap.scss';

.form-group label{
    position: relative;
    margin-top: 100px;
}

.show-password-icon{
    position: absolute;
    bottom: 50%;
    right: 5px;
}
.show-password-icon::after{
    content: '\f06e';
}